body {
   display: flex;
   justify-content: center;   
   align-items: center;       
   min-height: 100vh;        
   margin: 0;
   padding: 5vh 0;            
   background-color: #fff;    
   box-sizing: border-box;    
}

canvas {
   display: block;
   height: 75vh;       
   width: auto;       
   max-width: 100vw;   
}