
html, body {
   margin: 0;
   padding: 0;
   height: 100vh;
   overflow: hidden; 
   
   background-image: url("websitebackground.png");
   background-size: cover;   
   background-position: center;
   background-attachment: fixed; 

   display: flex;
   justify-content: center;
   align-items: center;
}

canvas {
   display: block;
   transform: scale(0.7) translateY(200px); 
   transform-origin: top center;  
   margin-top: 30px;  
   
   border: 6px solid #5d4037;
   box-shadow: 0 20px 80px rgba(0,0,0,0.6);
   image-rendering: pixelated;
}

