body {
   display: flex;
   justify-content: center;   
   align-items: center;       
   min-height: 100vh;        
   margin: 0;
   padding: 5vh 0;            
   background-color: #fff;    
   box-sizing: border-box;    
}

canvas {
   display: block;
   height: calc(100vh - 10vh); 
   width: calc(100vw - 10vw); 
   max-width: 100vw;
   max-height: 100vh;
   margin: 0 auto;
}