html, body {
   margin: 0;
   padding: 0;
   height: 100vh;
   overflow: hidden; 
   background: white;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 canvas {
   display: block;
   transform: scale(0.7);       
   transform-origin: top center; 
 }