body {
   display: flex;
   justify-content: center;   
   align-items: center;       
   min-height: 100vh;        
   margin: 0;
   padding: 5vh 0;            
   background-color: #fff;    
   box-sizing: border-box;    
}

canvas {
   display: block;
   width: 60%;  
   height: auto; 
   margin: 20px 0;
}